@model EntityLayer.Concrete.Reservation
@{
    ViewData["Title"] = "NewReservation";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Yeni Rezervasyon</h4>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">
                    <p class="card-text">Web Sitemiz üzerinde yer alan lokasyonlar için yeni bir rezervasyon talep edebilirsiniz </p>

                    <form method="post">
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            @Html.Label("Lokasyon")
                            @* Burada DestinationId'ye bind ediyoruz (önemli) *@
                            @Html.DropDownListFor(x => x.DestinationId, (IEnumerable<SelectListItem>)ViewBag.v, "Seçiniz", new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.DestinationId, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.Label("Kişi Sayısı")
                            <input type="text" asp-for="PersonCount" class="form-control" />
                            @Html.ValidationMessageFor(x => x.PersonCount, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.Label("Tarih")
                            <input type="date" asp-for="ReservationDate" class="form-control" />
                            @Html.ValidationMessageFor(x => x.ReservationDate, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.Label("Eklemek istedikleriniz")
                            <input type="text" asp-for="Description" class="form-control" />
                            @Html.ValidationMessageFor(x => x.Description, "", new { @class = "text-danger" })
                        </div>

                        <button class="btn btn-outline-success">Rezervasyon Yap</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>